#!/usr/bin/env bash

if [[ -e ".envrc_watchlist" ]]; then
  cat ".envrc_watchlist" | while read file; do
      watch_file $file
  done
	watch_file ".envrc_watchlist"
fi

if [[ -e "flake.nix" ]]; then 
    use flake
else
    use nix
fi
